	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Tambah Pegawai</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	
	<div class="container">
	<br><br>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
				 <div class="card-header" align="center">
                    <h3>Tambah Pegawai</h3>
                </div>
                <div class="card-body">
                    <form th:action="@{/pegawai/tambah}" th:object="${pegawai}" method="POST">
                        <div class="form-group row">
                            <label for="nama" class="col-sm-3 col-form-label">Nama</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="nama" name="nama" placeholder="Nama">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="tempatLahir" class="col-sm-3 col-form-label">Tempat Lahir</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="tempatLahir" name="tempatLahir" placeholder="Tempat Lahir">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="tanggalLahir" class="col-sm-3 col-form-label">Tanggal Lahir</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" id="tanggalLahir" name="tanggalLahir" placeholder="Tanggal Lahir">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="tahunMasuk" class="col-sm-3 col-form-label">Tahun Masuk</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="tahunMasuk" name="tahunMasuk" placeholder="Tahun Masuk">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="provinsi" class="col-sm-3 col-form-label">Provinsi</label>
                            <div class="col-sm-9">
                            	<select class="form-control" required="required" name="provinsi" id="provinsi">
									<option disabled="disabled" selected="selected" >-- Pilih Provinsi --</option>
									<option th:each="provinsi : ${listProvinsi}" th:value="${provinsi.id}" th:text="${provinsi.nama}"></option>
								</select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="namaInstansi" class="col-sm-3 col-form-label">Nama Instansi</label>
                            <div class="col-sm-9">
                            	<select class="form-control" required="required" name="instansi.id" id="instansi">
									<option disabled="disabled" selected="selected" >-- Pilih Instansi --</option>
									<option th:each="instansi : ${listInstansi}" th:value="${instansi.id}" th:text="${instansi.nama}"></option>
								</select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="jabatan" class="col-sm-3 col-form-label">Jabatan</label>
                            <div class="col-sm-9">
                            	<select class="form-control" required="required">
                            		<option disabled="disabled" selected="selected" >-- Pilih Jabatan --</option>
							    	<option th:each="jabatan, status : ${listJabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}"></option>
								</select>
								<a></a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-11">
                            	<br>
                                <button type="submit" name="save" class="btn btn-primary">Simpan</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
